* {
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}

header h1{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    font-size: 100px;
    color: khaki;
}

.brushes h2{
    background-color: mediumspringgreen;
    font-size: 32px;
    color: white;
}

.frames h2 {
    background-color: lightcoral;
    font-size: 32px;
    color: white;
}

.paint h2{
    background-color: skyblue;
    font-size: 32px;
    color: white;
}

p {
    font-weight: normal;
}

a {
    color: blue;
}